* {
    border: 1px dashed;
}

body {
    height: 100vh;
    overflow: hidden;
}

.debug {

    & header {
        background-color: palegoldenrod;
        height: 70px;
    }

    & [class^="col-"] {
        min-height: 200px;
    }


}

/* Header */
/* Wrapper */
#wrapper {
    height: calc(100% - 70px);

    .sidebar {
        width: 70px;
        flex-shrink: 0;

    }

    & main {
        flex-grow: 1;
        overflow-y: auto;

        .banner {
            background-color: royalblue;
            min-height: 100px;
        }
    }
}

@media screen and (min-width: 1200px) {

    #wrapper {

        .sidebar {
            width: 148px;

        }
    }
}


.side_bar {
    flex-direction: column;
    align-items: center;


}



@media screen and (max-width: 1050px) {


    .d_none {
        display: none;
    }
}

.font_ {
    font-size: xx-large;
}

.border {
    border: 1px solid;
    border-radius: 1rem;
    background-color: #165BBA;
    padding: 2px;
    margin: 0 3px;
}



.box {
    width: 60%;
    align-items: start;
}


.box1 {
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.done {
    border: 1px solid;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: green;
    color: white;
}

.failed {
    border: 1px solid;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.process {
    border: 1px solid;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFC107;
    color: white;
}

.trash {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    height: 40px;
    width: 40px;
    justify-content: center;
    font-size: larger;
    color: grey;

}


.pen {
    display: flex;
}


main {
    overflow-y: scroll;
}