/* * {
    border: 1px dashed;
} */

body {
    height: 100vh;
    overflow: hidden;
}

main {
    overflow-y: scroll;
}

/* debug */
.debug {

    & header {
    
        height: 70px;
    }

    & [class^="col-"] {
        min-height: 200px;
        background-color: #F7F7F7;
    }


}

/* debug */

/* Header */
/* Wrapper */
#wrapper {
    height: calc(100% - 70px);

    .sidebar {
        width: 70px;
        flex-shrink: 0;

    }

    & main {
        flex-grow: 1;
        overflow-y: auto;

        .banner {
            background-color: royalblue;
            min-height: 100px;
        }
    }
}

@media screen and (max-width:760px) {
    .navbar-lg {
        display: none;
    }
    .img_none-lg{
        display: none;
    }
}
@media screen and (min-width:759px) {
    .img_none-sm{
        display: none;

    }

}



.notifications-container {
    width: 80%;
    height: 50px;
    display: flex;
    margin: auto;



}


.silent {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;



}


.notifications-messages {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    line-height: 1.5;
}

.notifications {
    padding: 5px;
}

/* search */





@media screen and (min-width: 1200px) {

    #wrapper {

        .sidebar {
            width: 148px;

        }
    }
}
/* navbar */

.side_bar {
    flex-direction: column;
    align-items: center;
}

.bg_color {
    background-image: url(/assets/img/sidebar-bg.png);
    background-color: #051E34;

}



@media screen and (max-width: 1050px) {


    .d_none {
        display: none;
    }
}

/* side_bar */
.font_ {
    font-size: xx-large;
}

.border {
    border: 1px solid;
    border-radius: 1rem;
    background-color: #165BBA;
    padding: 2px;
    margin: 0 3px;
}

/* banner */



/* col-xs-8 */
.box {
    width: 60%;
    align-items: start;
}


.box1 {
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.done {
    border: 1px solid;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: green;
    color: white;
}

.failed {
    border: 1px solid;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    color: white;
}

.process {
    border: 1px solid;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFC107;
    color: white;
}

.trash {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    height: 40px;
    width: 40px;
    justify-content: center;
    font-size: larger;
    color: grey;

}


.pen {
    display: flex;
}

@media screen and (max-width:650px) {
    .D_none {
        display: none;

    }

}

/* list */

.faq_section {
    border: 1px solid grey;
    border-radius: 4px;


    >.faq {

        background-color: #F7F7F7;
        height: 70px;
        font-size: xx-large;
        display: flex;
        align-items: center;

    }
}

/* faq */



.todo {
    background-color: #F7F7F7;
    height: 70px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    height: 70px;
}

.Font_ {
    font-size: x-small;
}


/* todo */


.faq_section1 {
    border: 1px solid grey;
    border-bottom: none;
}

.faq_section2{
    border: 1px solid green;
}

/* stats */